.todo-list{
    background-color: whitesmoke;
    width: 600px;
    height: 400px;
    margin:100px 320px 75px;
    border: 1px;
    border-radius: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
}

.add-item-container{ 
    font-size: 25px;
    

}
.text-center{ 
    padding-top: 20px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
.inputs-container{
    border-radius: 25px; 
    margin-left: 155px;
    margin-bottom: 25px;
    text-align: center;
}

.add-button{
    border-radius: 25px;
    margin-left: 15px; 
}

.delete-button{ 
    // background-color:white;
    border: double;
    border-radius: 25px;
    font-size: 16px;
    float: right;
    
}
ul {
    text-align:left;
    }
    
li {
    background-color:white;
    width: 350px;
    border: double;
    border-radius: 25px;
    font-size: 20px;
    margin-left: 100px;
    margin-bottom: 15px;
}
.key{
    align-items: left;  
}


