// .body{
//     background-color: black;
// }


.todo-list{
    background-color: whitesmoke;
    width: 500px;
    height: 400px;
    margin: auto;
    border: 1px;
}

.add-item-container{ font-size: 20px;}
.inputs-container{ text-align: center;}
