


.todo-list{
    background-color: whitesmoke;
    width: 600px;
    height: 400px;
    margin: auto;
    border: 1px;
    border-radius: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.add-item-container{ font-size: 25px;

}
.text-center{ padding-top: 20px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
.inputs-container{border-radius: 25px; margin-left: 150px;}
.add-button{border-radius: 25px;margin-left: 30px; }
.delete-button{ background-color:white;
border: double;
border-radius: 25px;
font-size: 16px;
margin: 4px 2px;}

.key{background-color:white;
border: none;
text-align: center;
border-radius: 25px;
font-size: 20px;
margin: 10px 10px;
}

